@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Custom loading spinner */
.loading {
  @apply flex items-center justify-center;
}

.loading:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #4f46e5;
  border-color: #4f46e5 transparent #4f46e5 transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
